* {
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}


/* Profile Page Section*/
.profile-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.icon-image {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 100%;
    margin: 40px;
}

p {
    font-size: 14px;
    font-weight: bold;
}

span {
    padding-bottom: 10px;
    margin: 10px;
}

.underline {
    width: 200px;
    border-bottom: 1px solid #e0e0e0;
}
