<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/homePageStylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/buttonstyle.css" rel="stylesheet">
    <link href="/css/friendWishListStyleSheet.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<header>
    <nav class="navbarContainer">
        <div>
            <h4 id="user" th:text="'Welcome back: ' + ${session.user.getUsername()}"></h4>
        </div>
        <div class="headerContainer">
            <a href="/homepage"><h1>WISHING CLOUD</h1></a>
        </div>
        <div class="optionsContainer">

            <a href="/addFriend"><h4>ADD FRIEND</h4></a>
            <a href="/profile"><h4>PROFILE</h4></a>
            <a href="/friendrequest"><h4>FRIEND REQUESTS</h4></a>
            <a href="/logout"><h4>LOGOUT</h4></a>
        </div>
    </nav>
</header>

<main>
    <H1>MY WISHLIST</H1>
    <div class="tableContainer">
        <table>
            <thead>
            <tr>
                <th>WISH ITEM</th>
                <th>WISH AMOUNT</th>
                <th>WISH ACTIONS</th>
                <th>WISH ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wish: ${wishList}">
                <td th:text="${wish.entityName}"></td>
                <td th:text="${wish.entityAmount}"></td>
                <td>
                    <form action="/deleteWish" method="post">
                        <input type="hidden" name="wishentityId" th:value="${wish.wishentityId}">
                        <button type="submit">DELETE WISH</button>
                    </form>
                </td>
                <td>

                    <div th:id="'myModal_' + ${wish.wishentityId}" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <a href="#" class="close">&times;</a>
                            <div class="modal-form-container">
                                <form class="modal-form" action="/updateWish" method="post">

                                    <input type="hidden" name="wishentityId" th:value="${wish.wishentityId}">
                                    <div class="modal-form-content">
                                        <label for="entityName">Wish name:</label><br>
                                        <input th:value="${wish.entityName}" type="text" id="entityName"
                                               name="entityName">
                                    </div>
                                    <div class="modal-form-content">
                                        <label for="entityAmount">Wish amount:</label><br>
                                        <input th:value="${wish.entityAmount}" type="text" id="entityAmount"
                                               name="entityAmount">
                                    </div>
                                    <button type="submit">UPDATE</button>
                                </form>
                            </div>

                        </div>
                    </div>

                    <!-- Trigger/Open The Modal -->
                    <a th:href="'#myModal_' + ${wish.wishentityId}" id="myBtn_${wish.wishentityId}">
                        <button>UPDATE WISH</button>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form">

        <h3>ADD NEW WISH</h3>
        <div class="formContainer">

            <form action="/createNewWish" method="post">
                <div>
                    <label>Enter wish name:</label> <br>
                    <input type="text" name="entityName">
                </div>
                <div>
                    <label>Enter amount:</label><br>
                    <input type="number" name="entityAmount">
                </div>
                <div class="btn-add-wish">
                    <button type="submit">ADD</button>
                </div>
            </form>


        </div>
    </div>
</main>


<div>
    <link th:href="@{/css/friendslist.css}" rel="stylesheet">
    <div class="box">
        <a href="#popup1"><button>View Friends</button></a>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Friends</h2>
            <a class="close" href="#">&times;</a>
            <div class="friendslisttable">
                <table class="popTableContainer">
                    <tbody>
                    <tr th:each="friend: ${friendsList}">
                        <td th:text="${friend.firstName}"></td>
                        <td th:text="${friend.lastName}"></td>
                        <td>
                            <a th:href="@{'/friendWishList/'+${friend.accountsId}}">
                                <button>View Wishlist</button>
                            </a>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
