<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/landingscreen.css">
  <link href="/css/navbar.css" rel="stylesheet">
  <link href="/css/buttonstyle.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbarContainer">
    <div class="headerContainer">
      <a href="/static"><h1>WISHING CLOUD</h1></a>
    </div>
    <div class="optionsContainer">
      <a href="authorization/login"><h4>LOGIN</h4></a>
      <a href="authorization/register"><h4>REGISTER</h4></a>
    </div>
  </nav>
</header>

<main>
  <div>
    <img class="landingscreenImage" src="/img/landingscreenHeaderImg.png" alt="Landing Screen Image">
  </div>
  <div class="heroContainer">
    <div>
      <img class="heroImage" src="/img/PresentsImage.png" alt="">
    </div>
    <div class="heroTextContainer">
      <h1>Your Wishlist </h1>
      <p>Welcome to your personalized wishlist, a curated space where you can save all your favorite items and must-have
        products. Whether you're planning for upcoming holidays, special occasions, or simply daydreaming about the perfect
        gift for yourself or loved ones, your wishlist is here to help you keep track of everything you desire. Easily add,
        organize, and prioritize your selections to create a seamless shopping experience. With your wishlist at your fingertips,
        you can share it with friends and family, making it easier than ever to receive the gifts you truly want.
        Don't wait any longer; start building your ultimate wishlist today and watch your dreams become a reality.</p>
      <a href="authorization/register"><button>REGISTER</button></a>
    </div>
  </div>
  <div class="createWishListHeroContainer">
    <div class="heroTextContainer" id="createWishlistTextContainer">
      <h1>Create your Wishlist easily </h1>
      <p>Discover the simplicity of creating your own wishlist with our user-friendly platform. In just a few clicks, you
        can start adding items you love and organizing them as you please. From the latest gadgets and fashionable apparel
        to unique experiences and thoughtful gifts, our platform makes it easy to keep track of your wants and needs.
        Share your wishlist with friends and family, ensuring they know exactly what you're dreaming of for any occasion.
        Say goodbye to the days of forgotten gift ideas or receiving unwanted presents. Begin creating your wishlist today
        and enjoy a hassle-free, personalized shopping experience tailored to you.</p>
      <a href="/authorization/login"><button>CREATE WISHLIST</button></a>
    </div>
  </div>
</main>
<footer>
  <div class="horizontalLine"></div>
  <div class="footerContainer">
    <div>
      <h5>©FunkyDonkey</h5>
      <h5>Address: Sankt Kjelds Plads 4, 1th</h5>
      <h5>Email: realkoder@live.dk</h5>
      <h5>Phone: 42069420</h5>
      <h5>CVR: 42219283</h5>
    </div>
    <div>
      <h3>LINKS</h3>
      <a href="authorization/login"><h4>LOGIN</h4></a>
      <a href="authorization/register"><h4>REGISTER</h4></a>
    </div>
  </div>
</footer>
</body>
</html>
